<!--<div class="alert alert-danger alert-dismissable">-->
    <!--<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
    <!--<strong><%=error%></strong> <%=errorMessage%>-->
<!--</div>-->
<div id="result-message" class="result-message error">
    <strong><%=error%></strong> <%=errorMessage%>
</div>