<div class="div-header">
	<img src="../images/nav/goldpartner.png" alt="oracle-gold-partner-logo">
    <div class="language-dropdown closed" tabindex="1">
        <span class="language-span"><%=dropDown.selected.label%></span>
        <ul class="language dropdown">
            <li><a href="<%=dropDown.nonSelected.url%>"><%=dropDown.nonSelected.label%></a></li>
        </ul>
    </div>
</div>