<div class="container row footer div-footer">
    <div class="col-sm-4">
        <div class="row footer-first">
            <div class="footer-logo-div">
                <img class="img-responsive" src="../images/footer/eisys.png" alt="footer-logo"/>
            </div>
            <div class="footer-div">
                <img src="../images/footer/ico-phone.png" alt="footer-ico-phone"/>
                <a href="tel:541148623242"><span class="footer-span">5411 4862 3242</span></a>
            </div>
            <div class="footer-div">
                <img src="../images/footer/ico-email.png" alt="footer-ico-mail"/>
                <a href="mailto:escribinos@eisys.com.ar"><span id="footer-mail" class="footer-span">escribinos@eisys.com.ar</span></a>
            </div>
            <div class="footer-div">
                <img src="../images/footer/ico-adress.png" alt="footer-ico-map"/>
                <span id="footer-address" class="footer-span">Ciudad de Buenos Aires, Argentina</span>
            </div>
        </div>
    </div>
    <div class="col-sm-8 footer-social">
        <div class="row">
            <div class="col-sm-6">
                <div id="twitter" class="hidden-xs">
                    <a class="twitter-timeline" data-chrome="nofooter noscrollbar" data-theme="dark" height="300"
                       href="https://twitter.com/eisysok">Tweets by Eisys</a>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div id="follow-twitter">
                    <a class="twitter-follow-button"
                       href="https://twitter.com/eisysok">
                        Follow @eisysok</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="hidden-xs">
                    <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                    <script type="IN/CompanyProfile" data-id="10894478" data-format="inline" data-width="300"
                            data-related="false"></script>
                </div>
                <div id="follow-in">
                    <script type="IN/FollowCompany" data-id="10894478" data-counter="top"></script>
                </div>
            </div>
        </div>
        <div class="to-top">
            <img src="../images/footer/arriba.png" alt="top">
        </div>
    </div>
</div>
