<!--<div class="alert alert-success alert-dismissable">-->
    <!--<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
    <!--<strong><%=success%></strong> <%=successMessage%>-->
<!--</div>-->
<div id="result-message" class="result-message success">
    <strong><%=success%></strong> <%=successMessage%>
</div>