<div class="content">
    <div class="col-sm-4 col-lg-3 hidden-xs menu">
        <% include ../partials/know.nav.ejs %>
    </div>
    <div class="section col-sm-7 col-lg-8">
        <div class="title light"><%= section.title %></div>
        <div class="col-sm-8 paragraphs">
            <div class="paragraph"><%- section.paragraph1%></div>
        </div>
        <div class="col-sm-4">
            <div class="allies-logos"><img src="../images/conocenos/alianzas-oracle.png" alt="alianza-oracle" class="img-responsive"></div>
            <div class="allies-logos"><img src="../images/conocenos/alianzas-witbor.png" alt="alianza-witbor" class="img-responsive"></div>
        </div>
    </div>
</div>