<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
	<% include ../partials/page-header.ejs %>
    <% include ../partials/nav.ejs %>
    <div class="m-t-5-6em">
		<div class="banner conocenos">
			<div class="title extra-bold"><%= title %></div>
            <%- include(subsection) %>
		</div>
	</div>
	<% include ../partials/page-footer.ejs %>
</body>

</html>